/* Link block */
nav a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: #9370DB; /* Цвет ссылок */
}
nav a:visited {
    color: #CFCFCF; /* Цвет посещенных ссылок */
}
nav a:active {
    color: #ffff00; /* Цвет активных ссылок */
}
nav a:hover {
    color: #000; /* Цвет ссылок при наведении */
}
/* End link block */

/* Format menu */
nav div, nav div li {
    margin: 10px 10px 10px 0px;
}
nav div li {
    list-style-type: none;
    display: inline;
}
/* End format menu */
